#demo
    padding: 80px
    .chat
        width: 460px
        height: 300px
        border-radius: 13px
        border: 20px solid #e8e7f8
        background-color: #e8e7f8
        margin-bottom: 35px
        .message
            width: 420px
            height: 210px
            border-radius: 13px
            background-color: #ffff
            padding: 10px
            .line
                background-color: #7490f3
                border-radius: 20px
                width: 50px
                margin-bottom: 10px
                h3
                    color: #ffff
                    padding: 8px
            h3
                background-color: #7490f3
                border-radius: 20px
                width: 50px
                margin-bottom: 10px
                color: #ffff
                padding: 8px

        .text
            display: flex
            justify-content: center
            margin-top: 20px
            input
                border-radius: 20px
                margin-right: 10px
            .sent
                background-color: #7490f3
                border-radius: 20px
                h3
                    color: #ffff
                    padding: 8px 18px
    @media screen and ( max-width: 300px )
        .chat
            width: 280px
            height: 260px
            .message
                width: 240px
                height: 170px
            input
                padding: 0px
